# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.KarateChops.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Repos\Personal\CodeWorkouts\KarateChops\.idea\.idea.KarateChops\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
